img {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
  z-index: -100;
  opacity: 0.8;
}
#clock {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 80px;
}
