@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;700&display=swap");
@import "structure.css";

html {
  font-family: "Rubik", sans-serif;
}
body {
  height: 100%;
}
span {
  font-weight: 500;
  font-size: 20px;
}

.hidden {
  display: none;
}
#todo input {
  width: 300px;
  height: 15px;
  padding: 3px;
}
